@page
@model RazorWebsite.Pages.ContactModel
@{
	Layout = "_Layout";
	ViewData["Title"] = "Contact";
}
<h1>Contact Us</h1>
<p>Reach out to us via the following methods:</p>
<ul>
	<li><strong>email:</strong>support@wipro.com</li>
	<li><strong>Phone:</strong>+(91) 123 456 7890</li>
	<li><strong>email:</strong>123 wipro Tech city,India</li>
</ul>

<p>or fill out our <a href="">contact form</a> to get in touch with our team</p>