@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Wipro</h1>
    <p><strong class=" display-6">
      Our reinvention
        starts with you.
        
        </strong>
    </p>
    
</div>
