@page
@model RazorWebsite.Pages.ServiceModel
@{
	Layout = "_Layout";
	ViewData["Title"] = "Service";
}
<h1>Our Services</h1>
<p>We offer a rang of IT and Consulting services to help business thrive</p>
<ul>
    <li><strong>IT Consulting</strong> - Helping businesses with IT strategies.</li>
    <li><strong>Cloud Solutions</strong> - Scalable and secure cloud services.</li>
    <li><strong>Software Development</strong> - Custom applications tailored to your needs.</li>
    <li><strong>Cybersecurity</strong> - Advanced security solutions to protect your data.</li>
    <li><strong>AI & Automation</strong> - Enhancing business efficiency with AI-driven solutions.</li>
</ul>